In [1]:
import sys
sys.executable

'/Users/subhayanbhattacharya/miniconda3/envs/expense-viewer/bin/python'

In [2]:
import pathlib
for file in pathlib.Path('.').glob('*'):
    if file.is_dir():
        print(file)

.mypy_cache
.ipynb_checkpoints
.git
.vscode
src

In [2]:
import pathlib
import pandas as pd

csv_file = pathlib.Path("transactions.csv")

columns_to_use = ["Transaction Type", "Payment Details", "Debit", "Credit", "Value date"]

if csv_file.is_file():
    transactions = pd.read_csv(
        csv_file,
        encoding="latin",
        error_bad_lines=False,
        skiprows=4,
        delimiter=';',
        usecols=columns_to_use,
        parse_dates = ["Value date"]
    )
else:
    print(f"Could not read file : {csv_file}")
    
transactions.drop(transactions.tail(1).index,inplace=True)  # Attempt to drop the last row as it is not needed
transactions["Credit"].fillna("0", inplace=True)
transactions["Debit"].fillna(0, inplace=True)
transactions["Credit"] = transactions["Credit"].apply(lambda value: value.replace(",", ""))
transactions["Debit"] = transactions["Debit"].apply(lambda value: value if value >= 0 else value * -1)
transactions["Credit"] = transactions["Credit"].astype("float64")
transactions

,Value date,Transaction Type,Payment Details,Debit,Credit
0,2020-05-18,SEPA-Standing Order,RINP Dauerauftrag Rent for apartment,614.83,0.0
1,2020-05-18,Debit Card Payment,PFENNIGPFEIFFER//Dresden/DE 15-05-2020T19:52:2...,3.98,0.0
2,2020-05-18,Debit Card Payment,M U M TRENDS GMBH DD GIR 79916865//DRESDEN/DE ...,4.99,0.0
3,2020-05-18,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 15-05-2020T20:0...,19.84,0.0
4,2020-05-19,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 18-05-2020T20:0...,23.49,0.0
...,...,...,...,...,...
103,2020-08-11,Debit Card Payment,REWE SAGT DANKE. 42655632//Dresden/DE 10-08-20...,6.10,0.0
104,2020-08-11,Debit Card Payment,DECATHLON DEUTSCHLAND SE +//DRESDEN/DE 10-08-2...,58.71,0.0
105,2020-08-12,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 11-08-2020T20:0...,17.97,0.0
106,2020-08-12,Debit Card Payment,POCO DRESDEN FIL. 39//DRESDEN/DE 11-08-2020T19...,318.97,0.0
107,2020-08-14,Debit Card Payment,POCO DRESDEN FIL. 39//DRESDEN/DE 13-08-2020T19...,15.49,0.0

In [46]:
transactions.head(3)
type(transactions)

pandas.core.frame.DataFrame

In [3]:
transactions.tail()

,Transaction Type,Payment Details,Debit,Credit
42,Cash Withdrawal,GA NR07106040 BLZ870700240929.06/17.47UHR DRESDEN,-170.00,NaN
43,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 29-06-2020T19:5...,-16.23,NaN
44,SEPA-Direct Debit,HandyTicket Dresdner Verkehrsbetriebe,-6.70,NaN
45,Debit Card Payment,DVB AG GIROCARD-ZAHLUNG//DRESDEN/DE 30-06-2020...,-61.50,NaN
46,SEPA-Credit Transfer,A2.2 language course fees for Poulomi Adhikary,-159.00,NaN

In [6]:
type(transactions["Debit"])

pandas.core.series.Series

In [8]:
for column in transactions.columns:
    print(column)

Transaction Type
Payment Details
Debit
Credit

transactions["Payment Details"].dtype

In [10]:
transactions.Debit.dtype

dtype('float64')

In [13]:
transactions["Debit"].dtype == transactions["Credit"].dtype

False

In [14]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction Type  47 non-null     object
 1   Payment Details   47 non-null     object
 2   Debit             44 non-null     float64
 3   Credit            3 non-null      object
dtypes: float64(1), object(3)
memory usage: 1.8+ KB

s = "Subhayan, is a great, guy"
s.replace(",", "")
s

In [18]:
s = "Subhayan, is a great, guy"
check = s.replace(",", "")
check

'Subhayan is a great guy'

In [35]:
transactions[transactions["Credit"] == 3373.16]["Transaction Type"]

3    SEPA-Payment Salary/Pension
Name: Transaction Type, dtype: object

In [48]:
transactions

,Transaction Type,Payment Details,Debit,Credit
0,SEPA-Direct Debit,302-4681372-0149932 AMZN Mktp DE 731R541VSWAYB9IO,14.90,0.00
1,SEPA-Direct Debit,302-9763303-9589148 AMZN Mktp DE 4BIY0KQDGGRR3RIU,18.98,0.00
2,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 26-05-2020...,15.42,0.00
3,SEPA-Payment Salary/Pension,SALA Lohn/Gehalt LOHN / GEHALT 05/20,0.00,3373.16
4,Cash Withdrawal,GA NR07106030 BLZ870700240928.05/16.29UHR DRESDEN,50.00,0.00
5,Cash Withdrawal,GA NR07106030 BLZ870700240928.05/20.36UHR DRESDEN,200.00,0.00
6,Debit Card Payment,CIGO 2246 DRESDEN//Dresden/DE 27-05-2020T12:50...,10.00,0.00
7,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 30-05-2020T11:5...,29.91,0.00
8,Cash Withdrawal,GA NR07105010 BLZ870700240901.06/12.02UHR DD-P...,100.00,0.00
9,Debit Card Payment,PFENNIGPFEIFFER//Dresden/DE 03-06-2020T19:50:3...,2.69,0.00
10,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 03-06-2020T19:5...,23.60,0.00
11,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 03-06-2020...,29.81,0.00
12,Debit Card Payment,CIGO 2246 DRESDEN//Dresden/DE 02-06-2020T11:45...,30.00,0.00
13,SEPA-Credit Transfer,R42009280 and Filiale Dresden,88.06,0.00
14,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 05-06-2020...,4.83,0.00
15,Debit Card Payment,PIZZA RIVOLI AL-FAHDAWI +//DRESDEN/DE 05-06-20...,16.70,0.00
16,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 06-06-2020T19:5...,21.73,0.00
17,Debit Card Payment,BAECKEREI KRAUSE FG03 GIR 79998359//DRESDEN/DE...,2.60,0.00
18,Debit Card Payment,LHD WELCOME CENTER//Dresden/DE 09-06-2020T16:3...,100.00,0.00
19,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 10-06-2020T19:5...,36.88,0.00
20,SEPA-Direct Debit,D01-7489022-5595845 AMZNPrime DE 1907DCPVBCCY6T86,7.99,0.00
21,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 12-06-2020...,12.84,0.00
22,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 13-06-2020T12:0...,37.91,0.00
23,Cash Withdrawal,GA NR07106030 BLZ870700240916.06/20.57UHR DRESDEN,100.00,0.00
24,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 16-06-2020...,12.42,0.00
25,SEPA-Standing Order,RINP Dauerauftrag Rent for apartment,614.83,0.00
26,Debit Card Payment,PFENNIGPFEIFFER//Dresden/DE 17-06-2020T19:45:3...,5.98,0.00
27,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 17-06-2020T20:0...,26.72,0.00
28,SEPA-Direct Debit,305-0104458-9129156 AMZN Mktp DE 70KH1DCQ2R01R4C9,26.84,0.00
29,SEPA-Credit Transfer,D01-7489022-5595845 AMZNPrime DE PDOTLBTVBYLF1YPB,0.00,7.99
30,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 19-06-2020T19:5...,15.01,0.00
31,Debit Card Payment,TUKWILA SUPERMARKT//DRESDEN/DE 20-06-2020T13:1...,18.29,0.00
32,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 20-06-2020...,26.91,0.00
33,SEPA-Direct Debit,305-8989451-4757928 AMZN Mktp DE SL072I77YS8ADDE8,29.94,0.00
34,SEPA-Direct Debit,305-3524839-1834757 Amazon.de 24PMTFQS683Y4417,36.89,0.00
35,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 22-06-2020T19:5...,18.96,0.00
36,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 24-06-2020...,10.54,0.00
37,Debit Card Payment,DVB AG GIROCARD-ZAHLUNG//DRESDEN/DE 25-06-2020...,61.50,0.00
38,SEPA-Payment Salary/Pension,SALA Lohn/Gehalt LOHN / GEHALT 06/20,0.00,3373.35
39,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 26-06-2020T19:5...,4.99,0.00
40,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 26-06-2020...,23.23,0.00
41,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 27-06-2020T13:4...,24.67,0.00
42,Cash Withdrawal,GA NR07106040 BLZ870700240929.06/17.47UHR DRESDEN,170.00,0.00
43,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 29-06-2020T19:5...,16.23,0.00
44,SEPA-Direct Debit,HandyTicket Dresdner Verkehrsbetriebe,6.70,0.00
45,Debit Card Payment,DVB AG GIROCARD-ZAHLUNG//DRESDEN/DE 30-06-2020...,61.50,0.00
46,SEPA-Credit Transfer,A2.2 language course fees for Poulomi Adhikary,159.00,0.00

In [49]:
conditions = transactions["Debit"] >= 614.00

transactions[conditions]

       Transaction Type                       Payment Details   Debit  Credit
25  SEPA-Standing Order  RINP Dauerauftrag Rent for apartment  614.83     0.0

In [2]:
transactions

,Value date,Transaction Type,Payment Details,Debit,Credit
0,2020-05-18,SEPA-Standing Order,RINP Dauerauftrag Rent for apartment,614.83,0.0
1,2020-05-18,Debit Card Payment,PFENNIGPFEIFFER//Dresden/DE 15-05-2020T19:52:2...,3.98,0.0
2,2020-05-18,Debit Card Payment,M U M TRENDS GMBH DD GIR 79916865//DRESDEN/DE ...,4.99,0.0
3,2020-05-18,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 15-05-2020T20:0...,19.84,0.0
4,2020-05-19,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 18-05-2020T20:0...,23.49,0.0
...,...,...,...,...,...
103,2020-08-11,Debit Card Payment,REWE SAGT DANKE. 42655632//Dresden/DE 10-08-20...,6.10,0.0
104,2020-08-11,Debit Card Payment,DECATHLON DEUTSCHLAND SE +//DRESDEN/DE 10-08-2...,58.71,0.0
105,2020-08-12,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 11-08-2020T20:0...,17.97,0.0
106,2020-08-12,Debit Card Payment,POCO DRESDEN FIL. 39//DRESDEN/DE 11-08-2020T19...,318.97,0.0
107,2020-08-14,Debit Card Payment,POCO DRESDEN FIL. 39//DRESDEN/DE 13-08-2020T19...,15.49,0.0

In [35]:
cond1 = "transactions[\"Credit\"] > 3373.00"
cond2 = "transactions[\"Transaction Type\"].str.contains(\"Salary\")"

final_condition = f"{cond1} | {cond2}"

print(final_condition)

transactions[pd.eval(final_condition)]

transactions["Credit"] > 3373.00 | transactions["Transaction Type"].str.contains("Salary")

,Value date,Transaction Type,Payment Details,Debit,Credit
16,2020-05-28,SEPA-Payment Salary/Pension,SALA Lohn/Gehalt LOHN / GEHALT 05/20,0.0,3373.16
51,2020-06-29,SEPA-Payment Salary/Pension,SALA Lohn/Gehalt LOHN / GEHALT 06/20,0.0,3373.35
88,2020-07-28,SEPA-Payment Salary/Pension,SALA Lohn/Gehalt LOHN / GEHALT 07/20,0.0,3373.25

In [18]:
transactions[0:16]

,Value date,Transaction Type,Payment Details,Debit,Credit
0,2020-05-18,SEPA-Standing Order,RINP Dauerauftrag Rent for apartment,614.83,0.00
1,2020-05-18,Debit Card Payment,PFENNIGPFEIFFER//Dresden/DE 15-05-2020T19:52:2...,3.98,0.00
2,2020-05-18,Debit Card Payment,M U M TRENDS GMBH DD GIR 79916865//DRESDEN/DE ...,4.99,0.00
3,2020-05-18,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 15-05-2020T20:0...,19.84,0.00
4,2020-05-19,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 18-05-2020T20:0...,23.49,0.00
5,2020-05-19,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 18-05-2020...,24.94,0.00
6,2020-05-19,Cash Withdrawal,GA NR07106030 BLZ870700240919.05/19.50UHR DRESDEN,50.00,0.00
7,2020-05-21,SEPA-Credit Transfer,305-3988001-1466710 AMZ Cocooncenter 6MQWQX870...,0.00,45.27
8,2020-05-21,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 20-05-2020T20:0...,21.55,0.00
9,2020-05-25,SEPA-Direct Debit,4539.2486.3006 Immobilien Scout GmbH Immobilie...,29.95,0.00
10,2020-05-25,SEPA-Credit Transfer,order 1IF785 24-05-20 Lieferando.de,15.97,0.00
11,2020-05-25,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 23-05-2020T19:3...,30.53,0.00
12,2020-05-25,Debit Card Payment,DVB AG GIROCARD-ZAHLUNG//DRESDEN/DE 24-05-2020...,61.50,0.00
13,2020-05-26,SEPA-Direct Debit,302-4681372-0149932 AMZN Mktp DE 731R541VSWAYB9IO,14.90,0.00
14,2020-05-26,SEPA-Direct Debit,302-9763303-9589148 AMZN Mktp DE 4BIY0KQDGGRR3RIU,18.98,0.00
15,2020-05-27,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 26-05-2020...,15.42,0.00