In [1]:
import sys
sys.executable

'/Users/subhayanbhattacharya/Desktop/HobbyProjects/expense_viewer/expense_viewer/bin/python3.7'

In [3]:
import pathlib
for file in pathlib.Path('.').glob('*'):
    if file.is_dir():
        print(file)

Bank statements
.ipynb_checkpoints
venv

In [9]:
import pathlib
import pandas as pd

csv_file_path = pathlib.Path('./Bank Statements')
csv_file = next(csv_file_path.glob('*.csv'))

columns_to_use = ["Transaction Type", "Payment Details", "Debit", "Credit"]

if csv_file.is_file():
    transactions = pd.read_csv(
        csv_file,
        encoding="latin",
        error_bad_lines=False,
        skiprows=4,
        delimiter=';',
        usecols=columns_to_use
    )
else:
    print(f"Could not read file : {csv_file}")
    
transactions.drop(transactions.tail(1).index,inplace=True)  # Attempt to drop the last row as it is not needed

In [10]:
transactions.head(3)

,Transaction Type,Payment Details,Debit,Credit
0,SEPA-Direct Debit,302-4681372-0149932 AMZN Mktp DE 731R541VSWAYB9IO,-14.90,NaN
1,SEPA-Direct Debit,302-9763303-9589148 AMZN Mktp DE 4BIY0KQDGGRR3RIU,-18.98,NaN
2,Debit Card Payment,25043 SIMMEL SAGT DANKE//DRESDEN/DE 26-05-2020...,-15.42,NaN

In [11]:
transactions.tail()

,Transaction Type,Payment Details,Debit,Credit
42,Cash Withdrawal,GA NR07106040 BLZ870700240929.06/17.47UHR DRESDEN,-170.00,NaN
43,Debit Card Payment,7810 DISKA DRESDEN//DRESDEN/DE 29-06-2020T19:5...,-16.23,NaN
44,SEPA-Direct Debit,HandyTicket Dresdner Verkehrsbetriebe,-6.70,NaN
45,Debit Card Payment,DVB AG GIROCARD-ZAHLUNG//DRESDEN/DE 30-06-2020...,-61.50,NaN
46,SEPA-Credit Transfer,A2.2 language course fees for Poulomi Adhikary,-159.00,NaN