In [1]:
from expense_viewer import *

In [2]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'from expense_viewer import *', 'locals()'],
 '_oh': {},
 '_dh': ['/Users/subhayanbhattacharya/Desktop/HobbyProjects/expense_viewer'],
 'In': ['', 'from expense_viewer import *', 'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7fc90ef342d0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7fc90fec6fd0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7fc90fec6fd0>,
 '_': '',
 '__': '',
 '___': '',
 '_i': 'from expense_viewer import *',
 '_ii': '',
 '_iii': '',
 '_i1': 'from expense_viewer import *',
 'get_expense_report': <function expense_viewer.main.get_expense_report(config_file_path: str, salary_statement_path: str) -> None>,
 '_i2': 'locals()'}

In [2]:
import pathlib

In [2]:
config = "expense_config.yaml"
salary = "Transaction-May-June-2020.csv"
get_expense_report(config, salary)

WrongFormatError: The file Transaction-May-June-2020.csv is not in right format

In [3]:
yaml_file = pathlib.Path("tests/test_data/yaml_test_file.yaml")

True

In [5]:
import sys
sys.executable

'/Users/subhayanbhattacharya/miniconda3/envs/expense-viewer/bin/python'

In [6]:
import ruamel.yaml

In [7]:
yaml = ruamel.yaml.YAML()
with open(yaml_file, "r") as stream:
    contents = yaml.load(stream)
contents

['Casablanca', 'North by Northwest', "The Man Who Wasn't There"]

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"foo_id": [1, 2, 3, 4, 5]})
df

   foo_id
0       1
1       2
2       3
3       4
4       5

In [16]:
import csv
from io import StringIO
import pandas as pd

mylist = [[1], [2], [3], [4], ['a', 'b'], ['c', 'd']]
f = StringIO()
csv.writer(f).writerows(mylist)

In [14]:
import pandas as pd

check = pd.DataFrame([['a', 'b'], ['c', 'd']])
check

   0  1
0  a  b
1  c  d

In [20]:
import pandas as pd

df = pd.DataFrame({"Subhayan": [1, 2, 3, 4, 5], "Shaayan": [10, 20, 30, 40, 50]})
df

   Subhayan  Shaayan
0         1       10
1         2       20
2         3       30
3         4       40
4         5       50

In [2]:
import pandas as pd

my_dummy_csv_data = [
        [1],
        [2],
        [3],
        [4],
        ["Transaction Type", "Payment Details", "Debit", "Credit"],
        ["T", "Some description", "100", "0"],
        ["F", "Some description2", "150", "20"],
        ["G", "Some description3", "200", 0],
    ]

data = pd.DataFrame(my_dummy_csv_data)
filename = 'test.csv'
data.to_csv(filename, sep=';')

In [3]:
import csv

my_dummy_csv_data = [
        [1],
        [2],
        [3],
        [4],
        ["Transaction Type", "Payment Details", "Debit", "Credit"],
        ["T", "Some description", "100", "0"],
        ["F", "Some description2", "150", "20"],
        ["G", "Some description3", "200", 0],
    ]

csv_file = "test2.csv"
with open(csv_file, 'w') as csv_file:
    writer = csv.writer(csv_file, delimiter=";")
    for row in my_dummy_csv_data:
        writer.writerow(row)